.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  margin-top: 20px;
}

h1 {
  font-size: 36px;

  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  input,
  button {
    font-size: 14px;
  }
}
